<html>
  <head>
    <title>Sinatra Restaurants</title>
    <link rel="stylesheet" href="/style.css">
  </head>

  <body>
    <a href="/">
      <h1>Sinatra Restaurants</h1>
    </a>
    <%= yield %>
</html>
